<div class="contents row">
  <%= form_for(@job) do |f| %>
  <h3>
    募集を作成する
  </h3>
  <div class="field">
    <%= f.label :image, "募集画像" %><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :introduction, "活動概要" %><br>
    <%= f.text_area :introduction, :rows=>"10" %>
  </div>

  <div class="field">
    <%= f.label :description, "募集要項" %><br>
    <%= f.text_area :description, :rows=>"10" %>
  </div>

  <div class="field">
    <%= f.label :skill_list, "スキル・特技（カンマ区切り）" %><br>
    <%= text_field_tag 'job[skill_list]', @job.skill_list.join(',') %>
  </div>

  <div class="field">
    <%= f.label :option_list, "興味・関心（カンマ区切り）" %><br>
    <%= text_field_tag 'job[option_list]', @job.option_list.join(',') %>
  </div>

  <%= f.submit "PUBLISH" %>
  <% end %>
</div>
