<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @jobs.image %>);>
    <img src="<%= @jobs.image %>" alt="<%= @jobs.title %>">
  </div>

  <span class="job_title">
    <p><%= @jobs.title %></p>
  </span>
  <span class="job_org_name">
<!--   団体名を表示したい -->
    <p><span style="color: #008080">● </span><%= @jobs.member.name %></p>
    <!-- 団体名からページに飛ばしたい -->
  </span>
  <br>
  <div class="job_introduction">
    <h3 class="index_label">概要</h3>
    <p class="job_content_detail">
      <%= @jobs.introduction %>
    </p>
  </div>
  <br>
  <div class="job_description">
    <h3 class="index_label">仕事説明</h3>
    <p class="job_content_detail">
      <%= @jobs.description %>
    </p>
  </div>
  <br>
  <div class="job_required_skill">
    <h3 class="index_label">望ましいスキル</h3>
    <p class="job_content_detail">
      <%= simple_format(@jobs.skill) %>
    </p>
  </div>

  <!-- userはENTRY、orgはEDIT&DELETE, if文で -->
  <!-- user向け -->
  <div class="main_button">
    <p class="main_button_entry">ENTRY</p>
  </div>

<% if member_signed_in? && current_member.id == @jobs.member_id %>
  <div class="main_button">
    <%= link_to "/jobs/#{@jobs.id}/edit", method: :get do %>
    <p class="main_button_entry">EDIT</p>
    <% end %>
  </div>
  <div class="main_button">
    <%= link_to "/jobs/#{@jobs.id}", method: :delete do %>
    <p class="main_button_entry">DELETE</p>
    <% end %>
  </div>
  <% end %>
  <!-- org向け -->
<!--       <div class="main_button">
        <p class="main_button_edit">EDIT</p>
      </div>
      <div class="main_button">
        <p class="main_button_delete">DELETE</p>
      </div> -->



    </div>

