  <div class="contents row">
    <h2>Sign in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>



    <div class="field">
      <%= f.email_field :email, autofocus: true, :placeholder => "email"  %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", :placeholder => "enter password"  %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.label :remember_me %><br />
      <%= f.check_box :remember_me %>
    </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
    <% end %>
    <br>
    <div class="action_signup" style="color: #fff;">
     <%= link_to "or Sign up", "/members/sign_up/" %>
   </div>

 </div>
