<!DOCTYPE html>
<html>
<head>
  <title>atelier</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/a062eefb4d.js"></script>
</head>

<body>
 <header class="header">
<!--      <div class="setting">
       <i class="fa fa-cog" aria-hidden="true"></i>
     </div> -->
     <a href="/">
       <p class = 'logo_area'>
         <img alt="logo"  src="/assets/atelier.png" class="logo_img">
       </p>
     </a>
   </header>
   <br></br>
   <br></br>


   <%= yield %>

   <!-- フッター向け余白 -->
   <br></br>
   <br></br>
   <br></br>

   <!-- グローバルナビ -->
   <footer class = "global-navi">
    <ul class="global_navi_icon">
      <% if member_signed_in? %>
      <li class="footer_icon">
        <%= link_to members_path(current_member) do %>
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <% end %>
      </li>
      <% else %>
      <li class="footer_icon">
        <%= link_to "/members/sign_in" do %>
        <i class="fa fa-sign-in fa-3x" aria-hidden="true"></i>
        <% end %>
      </li>
      <% end %>
<% if member_signed_in? && current_member.status == "user" %>
      <li class="footer_icon">
        <%= link_to "https://www.google.co.jp/maps" do %>
        <i class="fa fa-search fa-3x" aria-hidden="true"></i>
        <% end %>
      </li>
<% else %>
      <li class="footer_icon">
        <%= link_to "/jobs/new/" do %>
        <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
        <% end %>
      </li>
<% end %>
      <li class="footer_icon">
        <%= link_to destroy_member_session_path, method: :delete do%>
        <i class="fa fa-cog fa-3x" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
  </footer>
</body>
</html>
