<!DOCTYPE html>
<html>
<head>
  <title>atelier</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/a062eefb4d.js"></script>
</head>

<body>
 <header class="header">
<!--      <div class="setting">
       <i class="fa fa-cog" aria-hidden="true"></i>
     </div> -->
     <a href="/">
       <p class = 'logo_area'>
         <img alt="logo"  src="/assets/atelier.png" class="logo_img">
       </p>
     </a>
   </header>
   <br></br>


   <%= yield %>

   <!-- フッター向け余白 -->
   <br></br>
   <br></br>
   <br></br>

   <!-- グローバルナビ -->
   <footer class = "global-navi">
     <!-- 団体の時 -->
     <% if member_signed_in? && current_member.status == "organization" %>
     <ul class="global_navi_icon">
      <li class="footer_icon">
        <%= link_to members_path(current_member) do %>
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="footer_icon">
        <%= link_to "/jobs/new/" do %>
        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="footer_icon">
        <%= link_to destroy_member_session_path, method: :delete do%>
        <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
    <!-- 個人の時 -->
    <% elsif member_signed_in? && current_member.status == "user" %>
    <ul class="global_navi_icon">
      <li class="footer_icon">
        <%= link_to members_path(current_member) do %>
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="footer_icon">
        <%= link_to tags_index_path, method: :get do %>
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="footer_icon">
        <%= link_to destroy_member_session_path, method: :delete do%>
        <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
    <!-- ログインしてない人の時 -->
    <% else %>
    <ul class="global_navi_icon">
      <li class="footer_icon_wide">
        <%= link_to new_member_session_path do %>
        <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
    <% end %>
  </footer>
</body>
</html>
