<!DOCTYPE html>
<html>
<head>
  <title>atelier</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/a062eefb4d.js"></script>
</head>

<body>
 <header class="header">
<!--      <div class="setting">
       <i class="fa fa-cog" aria-hidden="true"></i>
     </div> -->
     <a href="/">
       <p class = 'logo'>
         <img alt="logo"  src="/assets/atelier.png">
       </p>
     </a>
   </header>


   <%= yield %>

   <!-- フッター向け余白 -->
   <br></br>
   <br></br>
   <br></br>

   <!-- グローバルナビ -->
   <footer class = "global-navi">
    <ul class="global_navi_icon">
      <li class="footer_icon">
          <%= link_to root_path do %>
            <i class="fa fa-user" aria-hidden="true"></i>
          <% end %>
    </li>
    <li class="footer_icon">
      <%= link_to "setting", destroy_member_session_path, method: :delete %>
    </li>
    <!-- userは検索 -->
    <li class="footer_icon">
      <%= link_to "search", destroy_member_session_path, method: :delete %>
    </li>
    <!-- orgの時は投稿アイコンを表示:if文でなんとかする -->
    <!-- <li class="footer_icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></li> -->
    <li class="footer_icon">
      <%= link_to "logout", destroy_member_session_path, method: :delete %>
    </li>
  </ul>


</footer>
</body>
</html>
