<div class="contents row">
  <div class="member_info"  style="text-align:center;">
    <!-- ユーザーアイコン用のイメージをサインイン画面で取得が必要 -->
    <div class="member_image_area">
      <p>
        <img class="member_image" src="<%= @members.image %>" alt="<%= @members.name %>">
      </p>
      <!--       <p class="member_image" style="background-image: url("<%= @members.image %>");"></p> -->
    </div>

    <div class="content_user_main">
      <span class="member_username">    <%= @members.name %></span><br>
      <span class="member_status" ><%= @members.status %></span>
    </div>
    <br>
    <!-- userは「応募一覧」、orgは「募集一覧」及び「候補者一覧」をJSでタブ表示 -->
    <div class="index">
      <p>応募一覧</p>
    </div>
  </div>
  <div class="content_list">
    <% @jobs.each do |job| %>
    <div class="content_post" style="background-image: url(<%= job.image %>);">
      <%= simple_format(job.title) %>
    </div>
    <% end %>
    <%= paginate(@jobs) %>
  </div>

  <div class="main_button">
    <%= link_to destroy_member_session_path, method: :delete do %>
    <p class="main_button_signout">SIGN OUT</p>
    <% end %>
  </div>

</div>

