<div class="contents row">
  <div class="member_info"  style="text-align:center;">
    <!-- ユーザーアイコン用のイメージをサインイン画面で取得が必要 -->
    <div class="member_image_area">
      <p>
        <img class="member_image" src="<%= @members.image %>" alt="<%= @members.name %>">
      </p>
      <!--       <p class="member_image" style="background-image: url("<%= @members.image %>");"></p> -->
    </div>

    <div class="content_user_main">
      <span class="member_username">    <%= @members.name %></span><br>
      <span class="member_status" ><%= @members.status %></span>
    </div>

    <% if @members.status == "organization" %>
    <div id="google_map">

      <script>
        var map;
        function initMap() {
    map = new google.maps.Map(document.getElementById('google_map'), { // #googlemapに地図を埋め込む
        center: { // 地図の中心を指定
            lat: <%= @members.latitude %>, // 緯度
            lng: <%= @members.longitude %> // 経度
          },
        zoom: 19 // 地図のズームを指定
      });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByB93E3h6LeuNeoMOGYuToE1fnKMEvKfE&callback=initMap">
</script>

</div>
<% end %>
<br>
<!-- userは「応募一覧」、orgは「募集一覧」及び「候補者一覧」をJSでタブ表示 -->
<div class="index">
  <% if @members.status == "user" %>
  <p>応募一覧</p>
  <% else %>
  <p>募集一覧</p>
  <% end %>
</div>
</div>

<% if @members.status == "organization" %>
<div class="content_list">
  <% @jobs_org.each do |job| %>
  <a href="/jobs/<%= job.id %>/">
  <div class="content_post" style="background-image: url(<%= job.image %>);">
    <%= simple_format(job.title) %>
  </div>
  </a>
  <% end %>
  <%= paginate(@jobs_org) %>

  <% elsif @members.status == "user" %>
  <% @jobs_user.each do |job| %>
  <a href="/jobs/<%= job.id %>/">
  <div class="content_post" style="background-image: url(<%= job.image %>);">
    <%= simple_format(job.title) %>
  </div>
  </a>
  <% end %>
  <%= paginate(@jobs_user) %>
</div>
<% end %>

<div class="main_button">
  <%= link_to destroy_member_session_path, method: :delete do %>
  <p class="main_button_signout">SIGN OUT</p>
  <% end %>
</div>

</div>

